 <head>
     {% load static %}
    <link rel="stylesheet" href="{% static "attendance/login_admin.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>


<body>
    <nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="" ><a href="#">Add Teacher<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="#">Remove teacher<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="#">Class Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="#">Remove Class<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
 <script>
   $('li > a').click(function() {
    $('li').removeClass();
    $(this).parent().addClass('active');
});
</script>