 <head>
     {% load static %}
     <title>Welcome Admin</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "attendance/login_admin.css" %}" />

</head>


<body>
<div class="navbar navbar-inverse">
        <div class="">
            <div class="navbar-header" role="navigation" >
                <a class="navbar-brand" id="Brand">Shift2Cloud</a>
            </div>
            <div id="admin_login">
                    <div id="admin_logout">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <img src="{% static "attendance/img/logo.gif" %}">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'change_password' %}">Change Password<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li ><a href="{% url 'logout' %}">logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                 </ul>
            </div>
        </div>

    </nav>
<div class="container col-sm-offset-3 col-sm-7">
    <h2>Select Class and subject to view</h2>
    <form class="form-horizontal" action="{% url 'principal_index' %}" method="post">
        {% csrf_token %}
    <div class="form-group">
        <label class="control-label  col-sm-1" for="id_class">Select class:</label>
      <div class="col-sm-7">
          <select class="form-control" name="class" >
            {% for class in class_list %}
                <option value="{{ class.id }}" id="{{ class.id }}">{{ class }}</option>
            {% endfor %}
        </select>
      </div>
    </div>

        <div class="form-group">
              <div class=" col-sm-6">
                <center><button type="submit" class="btn btn-default" value="Add" >View Report</button></center>
              </div>

        </div>
    </form>
</div>
</body>
 <script>
   $('li > a').click(function() {
    $('li').removeClass();
    $(this).parent().addClass('active');
});
</script>