 <head>
     {% load static %}
     <title>Add Test/Exam</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "attendance/login_admin.css" %}">
    <link rel="stylesheet" href="{% static "attendance/teacher_index.css" %}" />
    <link rel="stylesheet" href="{% static "attendance/teacher_test_add.css" %}">

</head>


<body>
<div class="navbar navbar-inverse">
        <div class="">
            <div class="navbar-header" role="navigation" >
                <a class="navbar-brand" id="Brand">Shift2Cloud</a>
            </div>
            <div id="admin_login">
                    <p>Welcome Teacher</p>
                    <div id="admin_logout">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
            </div>
        </div>
    </div>
<nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <img src="{% static "attendance/img/logo.gif" %}">
                <ul class="nav navbar-nav">
                    <li ><a href="{% url 'teacher_attendance_today' %}">Attendence<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li ><a href="{% url 'teacher_student_add' %}">Add Student<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_student_edit' %}">Edit Student Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_test_add' %}">Add Test Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_test_select' %}">Edit Test Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_report_single' %}">Report View Single<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_report_class' %}">Report View Class<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>

                </ul>
            </div>
        </div>

    </nav>

<div class="container col-sm-offset-2 col-sm-9">
    <h2>Enter the details of Exam and the marks of students</h2>
    <button class="btn btn-inverse " onclick="location.href='{% url 'teacher_subject_add' %}'">Add Subjects</button>
    <button class="btn btn-inverse " onclick="location.href='{% url 'teacher_subject_edit' %}'">Edit/Delete Subjects</button>
    <form class="form-horizontal" action="{% url 'teacher_test_add' %}" method="post">
            {% csrf_token %}
        <div class="form-group">
            <label class="control-label   col-sm-2" for="id_exam_name">Exam Name:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="id_exam_name" maxlength="50"  name="test_name"placeholder="Enter exam name" required >
          </div>
        </div>
        <div class="form-group">
            <label class="control-label   col-sm-2" for="id_total_marks">Marks out of:</label>
          <div class="col-sm-7">
            <input type="number" class="form-control" id="id_total_marks" maxlength="10"  name="marks_tot" placeholder="Maximum marks" required >
          </div>
        </div>
        <div class="form-group">
          <label class="control-label  col-sm-2" for="id_date">Date:</label>
          <div class="col-sm-7">
            <input type="date" class="form-control" id="id_date" maxlength="50" name="date" placeholder="Enter date" required >
          </div>
        </div>
        <div class="table_new">
        <table >
            <tr>
                <th>SNo:</th>
                <th>Username</th>
                <th>Roll No</th>
                {% for subject in subject_list %}
                    <th>Marks in {{ subject.name }}</th>
                {% endfor %}
            </tr>
            {% for student in student_list   %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.user.username }}</td>
                    <td>{{ student.roll_no }}</td>
                    {% for subject in subject_list %}
                        <td><input type="number" value="{{ subject.name }}" name="{{ subject.id }}_{{ student.roll_no }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table><br><br>
        </div>
       <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <center><button type="submit" class="btn btn-default" value="Add" >Add Exam</button></center>
          </div>
       </div>
    </form>

</div>
<div id="snackbar">{{ error_message }}</div>

</body>
<script>
      function snackbar_fun() {
    // Get the snackbar DIV
    var x = document.getElementById("snackbar")

    // Add the "show" class to DIV
    x.className = "show";

    // After 3 seconds, remove the show class from DIV
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
     {% if error_message %}snackbar_fun(){% endif %}

</script>