 <head>
     {% load static %}
     <title>Add Test/Exam</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "attendance/login_admin.css" %}">
    <link rel="stylesheet" href="{% static "attendance/teacher_index.css" %}" />
    <link rel="stylesheet" href="{% static "attendance/teacher_test_add.css" %}">
    <link rel="stylesheet" href="{% static "attendance/teacher_test_select.css" %}">
</head>



<body>
<div class="navbar navbar-inverse">
        <div class="">
            <div class="navbar-header" role="navigation" >
                <a class="navbar-brand" id="Brand">Shift2Cloud</a>
            </div>
            <div id="admin_login">
                    <div id="admin_logout">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
            </div>
        </div>
</div>
<nav class="navbar navbar-default sidebar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <img src="{% static "attendance/img/logo.gif" %}">
                <ul class="nav navbar-nav">
                     <li><a href="{% url 'change_password' %}">Change Password<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                   <li ><a href="{% url 'teacher_attendance_today' %}">Attendence<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li ><a href="{% url 'teacher_student_add' %}">Add Student<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_student_edit' %}">Edit Student Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_test_add' %}">Add Exam Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_test_select' %}">Edit Exam Details<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_report_single' %}">Report View Single<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                    <li><a href="{% url 'teacher_report_class' %}">Report View Class<span style="font-size:16px;" class="pull-right hidden-xs showopacity "></span></a></li>
                </ul>
            </div>
        </div>

    </nav>

<div class="container col-sm-offset-2 col-sm-9">
    <h2>Select the test </h2>
    <form class="form-horizontal" action="{% url 'teacher_test_select' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
               <tr>
                   <th>Exam name</th>
                   <th>Select</th>
                   <th>Delete</th>
               </tr>
               {% for test in test_names %}
               <tr>
                    <td><input type="text" id="{{ forloop.counter }}" name="test" value="{{ test }}" class="form-control" readonly></td>
                    <td><input type="checkbox" id="{{ forloop.counter }}" value="{{ test }}" class="selectone" name="edit"></td>
                    <td><input type="checkbox" value="{{ test }}" class="selectone" name="delete" ></td>
               </tr>
               {% endfor %}
            </table>
        </div>
        <div class="form-group">
            <div class=" col-sm-4">
                {% if test_names %}
                    <button type="submit" class="btn btn-default" name="submit" value="Add">Select Exam</button>
                    {% else %}
                    <h3>No Tests are present yet. Click here to add test <a href="{% url 'teacher_test_add' %}"><button class="btn btn-default"></button></buttob></a></h3>
                {% endif %}
            </div>
        </div>
    </form>
</div>

</body>
<script>

    $('input.selectone').on('change', function() {
    $('input.selectone').not(this).prop('checked', false);
});
    $('input.selectone').click(function () {
        var a = $(event.target)[0].id;
        $("input text").find('#' + a).attr('name','test');
    })

</script>