{% extends 'attendance/layout.html' %}
{% load static %}
{% block title %}Welcome Admin{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "attendance/admin_class_add.css" %}">
{% endblock %}



{% block inner-body %}
    <form class="form-horizontal" action="{% url 'admin_class_add' %}" method="post">
        {% csrf_token %}
        <div class="container">
            <h2>Enter the Class details to add:</h2><br>
            <div class="form-group">
                <label class="control-label col-sm-offset-3  col-sm-2" for="id_username">Grade:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="id_grade" name="grade" autocomplete="off"
                           placeholder="Enter Grade" required autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-offset-3  col-sm-2" for="id_username">Division:</label>
                <div class="col-sm-7">
                    <input type="text" maxlength="1" class="form-control" id="id_division" name="division"
                           placeholder="Enter Division (optional)" autocomplete="off">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <center>
                        <button type="submit" class="btn btn-default" value="Login">Add Class</button>
                    </center>
                </div>
            </div>
        </div>
    </form>
    {% if error_message %}
        <div class="snack-wrap">
            <label id="snackbar_add" class="snacklable animated" for="close"></label>
            <input type="checkbox" class="snackclose animated" id="close"/>
            <div class="snackbar animated">
                <p>{{ error_message }}</p>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        $('li > a').click(function () {
            $('li').removeClass();
            $(this).parent().addClass('active');
        });
    </script>
{% endblock %}




