{% extends 'attendance/layout.html' %}
{% load static %}

{% block title %}
    Welcome Admin
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'attendance/admin_class_remove.css' %}">
{% endblock %}

{% block inner-body %}
    <form action="{% url 'admin_class_remove' %}" method="post">
        {% csrf_token %}
        <div class="col-sm-offset-2 col-sm-4">
            <h2> Select the Class :</h2>
            <div class="dropdown">
                <select name="class">
                    {% for class in class_list %}
                        <option value="{{ class.id }}">{{ class }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button id="remove" class="btn btn-default" type="submit" value="Remove">Remove Teacher
            </button>
        </div>
    </form>
    {% if error_message %}
        <div class="snack-wrap">
            <label class="snacklable animated" for="close"></label>
            <input type="checkbox" class="snackclose animated" id="close"/>
            <div class="snackbar animated">
                <p>{{ error_message }}</p>
            </div>
        </div>
    {% endif %}


{% endblock %}
